#gamecontainer {
width:640px;
height:480px;
background: url(images/splashscreen.jpeg);
border: 1px solid black;
}
.gamelayer {
width:640px;
height:480px;
position:absolute;
display:none;
}
/* Game Starting Menu Screen */
#gamestartscreen {
padding-top:150px;
text-align:center;
}
#gamestartscreen img {
margin:10px;
cursor:pointer;
}
 
/* Loading Screen */
#loadingscreen {
    background:rgba(100,100,100,0.7);    
}

#loadingmessage {
    margin-top:400px;
    text-align:center;
    height:48px;
    color:white;
    background:url(images/loader.gif) no-repeat center;
    font:12px Arial;
}

#playerselectscreen {
    background: url(images/playerscreen.png) no-repeat;
}